<html>
<head>
        <title>Medico | Register</title>
        <link rel="stylesheet" href="../styles.css">
</head>
<body>
        <section>
                <div class="homepage">
                        <div class="logo-header">
                                <img src="../medico.jpg" width="100px" height="100px" alt="Medico logo" href="main.html">
                                <div class="logo-name">
                                        <h2>Medico Hospital</h2>
                                </div>
                        </div>
        
                        <div class="nav">
                                <ul>
                                    <li><a href="about_us.html">About us</a></li>
                                    <li><a href="registration.html">Register</a></li>
                                    <li><a href="facilities.html">Facilities</a></li>
                                    <li><a href="doctors.html">Doctors</a></li>
                                    <li><a href="contact_us.html">Contact us</a></li>
                                </ul>
                        </div>
                </div>
        </section>

        <h2>Registration Form</h2>
        <p>For new registration, please fill up this registration form</p>
        <div class="register_form">
        <form class="registration_form">
                <label for="inpName">Full Name</label><br>
                <input type="text" name="inpName" placeholder="Enter your name"><br>
                <label for="inpAge">Age</label><br>
                <input type="text" name="inpAge" placeholder="Enter your age"><br>
                <label for="gender">Choose your gender</label><br>
                <label for="inpMale">Male: </label>
                <input type="radio" id="inpMale" name="gender_selection">
                <label for="inpFemale">Female: </label>
                <input type="radio" id="inpFemale" name="gender_selection"><br>
                <label for="symptoms">Describe your symptoms:</label><br>
                <textarea name="symptom_inp" id="symptoms" cols="30" rows="10"></textarea>
        </form>
</div>
</body>
</html>
