table, td, th{
    border: 1px solid rgb(156, 97, 233);
}

body {
    font-family: 'Ubuntu', serif;
}

.description {
    border-radius: 10px;
    background-color: #9be0a1;
    margin: 5px;
    padding: 10px 15px;
    color:rgb(33, 33, 34);
}